* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-wrapper {
    margin: auto;
    max-width: 1120px;
    height: 100%;
}

.header-top-container {
    height: 100px;
}

.header-top-wrapper {
    display: flex;
    background: white;
}

.top-logo {
    justify-content: flex-start;
    width: 25%;
    height: 100%;
}

.top-logo img {
    height: 100px;
}

.flex-list {
    display: flex;
    list-style: none;
}

.access {
    width: 75%;
    height: 100%;
}

.access a {
    text-decoration: none;
    color: black;
}

.access-list {
    justify-content: flex-end;
}

.access-list-item-container {
    text-align: center;
    align-items: center;
    padding: 30px;
    height: 100%;
}

.header-nav-container {
    height: 80px;
    background: #007C3E;
}

.nav {
    height: 100%;
}

.nav a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.nav-list-item-container {
    display: flex;
    align-items: center;
    padding: 20px;
    height: 100%;
}

.hero {
    background-image: url("https://vaxjo.se/images/18.5beaed1f1711706227a13192/1585305403694/Vy_over_Vxjo-och-Helgasjon.jpg");
    background-size: contain;
}

.port-container {
    height: 450px;
}

.port-wrapper {
    max-width: 400px;
    height: 200px;
    margin: auto;
}

.port-link {
    display: flex;
    color: #003752;
}

.covid {
    margin: 8px;
    padding: 8px;
    background-color: #f0f5d6;
}

.main-wrapper {
    margin: auto;
    max-width: 1120px;
}

.main-articles {
    display: flex;
}

.main-article h3, p {
    padding: 40px;
}

.footer-wrapper {
    margin: auto;
    max-width: 1120px;
    display: flex;
}